{% extends 'base.html' %} {% block content %}
<div class="mb-3">
  <a href="{% url 'retailer_dashboard' %}">
    <button type="button" class="btn btn-outline-dark">Back</button>
  </a>
</div>
<div id="container">
  <h1 class="text-center">Scan the QR code to get Validate the product</h1>

  <div class="text-center">
    <a id="btn-scan-qr">
      <img
        src="https://orig00.deviantart.net/f991/f/2015/066/1/b/qr_code_animated__by_junguler-d8kqfbf.gif"
      />
      <h3 class="text-secondary">click to scan</h3>
    </a>
  </div>

  <canvas hidden="" id="qr-canvas"></canvas>

  <div id="qr-result" hidden="">
    <form method="post">
      {% csrf_token %}
      <b>product id:</b> <span id="outputData"></span><br />
      <input id="identifier" type="text" name="identifier" value="" hidden />
      <button class="btn btn-success" type="submit">verify</button>
    </form>
  </div>
</div>

<script>
  const qr_code = window.qrcode;

  const video = document.createElement("video");
  const canvasElement = document.getElementById("qr-canvas");
  const canvas = canvasElement.getContext("2d");

  const qrResult = document.getElementById("qr-result");
  const outputData = document.getElementById("outputData");
  const identifier = document.getElementById("identifier");
  const btnScanQR = document.getElementById("btn-scan-qr");

  let scanning = false;

  qr_code.callback = (res) => {
    if (res) {
      outputData.innerText = res;
      identifier.value = res;
      scanning = false;

      video.srcObject.getTracks().forEach((track) => {
        track.stop();
      });

      qrResult.hidden = false;
      canvasElement.hidden = true;
      btnScanQR.hidden = false;
    }
  };

  btnScanQR.onclick = () => {
    navigator.mediaDevices
      .getUserMedia({ video: { facingMode: "environment" } })
      .then(function (stream) {
        scanning = true;
        qrResult.hidden = true;
        btnScanQR.hidden = true;
        canvasElement.hidden = false;
        video.setAttribute("playsinline", true); // required to tell iOS safari we don't want fullscreen
        video.srcObject = stream;
        video.play();
        tick();
        scan();
      });
  };

  function tick() {
    canvasElement.height = video.videoHeight;
    canvasElement.width = video.videoWidth;
    canvas.drawImage(video, 0, 0, canvasElement.width, canvasElement.height);

    scanning && requestAnimationFrame(tick);
  }

  function scan() {
    try {
      qr_code.decode();
    } catch (e) {
      setTimeout(scan, 300);
    }
  }
</script>
{% endblock %}
